/* ul.html, gyere.html, fekszik.html, marad.html */

.container {
        grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 1fr 10px;
    font-family: serif;

}

.header {
    background-color: #ffffff;
    grid-template-areas:
    "title";
    border:2px;
    border-radius: 25px 25px 0px 0px;
    grid-template-columns: 100%;
    grid-template-rows: 75px;
    font-size: 2rem;
    text-align: center;
    color: #8b4513;
    display: grid;
    float: top;

}

h1 {
    color: rgba(59, 39, 39, 0.904);
    margin-top: 5px;;
    font-size: 2rem;
    font-family: 'DoggyDogWorld', cursive;
    text-shadow: 2px 2px;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    
}

p {
    color: rgb(255, 255, 255);
    position: center;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.1rem;

}

.menu {
    background-color: #fdfdfd;
    color: #8b4513;
    border: px solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    margin-bottom: 50px;

}

.menu-button {
    display: inline-block

}

.menu-icon {
    color: #ffffff;
    margin: 0px;

}

.menu-nav {
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 3px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    margin-bottom: 10px;

}

.footer {
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin-top: 150px;

}

#gif {
    border: 5px solid #ffffff;
    margin-right: 200px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}